.login-page {
  display: block;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-image: url('/src/assets/J.png'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
  font-family: 'Lato', sans-serif;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  padding: 20px; /* Añadir espacio alrededor del formulario */
  border-radius: 10px;
}

.ai-agent-form {
  width: 100%;
  max-width: 400px; /* Ancho máximo */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #221e1e;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #221e1e;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 95%;
}

.submit-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}
