<<<<<<< HEAD
.login-page {
  display: block;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-image: url('/src/assets/J.png'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
  font-family: 'Bebas Neue', sans-serif;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  padding: 20px; /* Añadir espacio alrededor del formulario */
  border-radius: 10px;
}

.ai-agent-form {
  width: 100%;
  max-width: 400px; /* Ancho máximo */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #221e1e;
}

.form-group {
=======
.login-container {
  display: flex;
  height: 100vh;
}

.login-image {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px; /* Adjust padding if necessary */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botón de Volver */
.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  color: #187385;
  font-weight: bold;
}

.back-button:hover {
  color: #105965;
}

.back-icon {
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.back-icon svg {
  width: 12px;
  height: auto;
}

/* Estilos del formulario */
.ai-agent-form {
  width: 300px; /* Set a smaller width */
  max-width: none; /* Remove max-width restriction */
  padding: 10px; /* Adjust padding if necessary */
}

.input-group {
>>>>>>> master
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

<<<<<<< HEAD
.form-group label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #221e1e;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 95%;
}

.submit-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
=======
.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #187385;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
}

.login-button:hover {
  background-color: #105965;
}

.forgot-password {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #187385;
}

.register-button {
  margin-top: 10px;
  background-color: #ccc;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
}

.register-button:hover {
  background-color: #bbb;
>>>>>>> master
}
