.productos {
  padding: 20px;
  text-align: center;
}

.productos h2 {
  font-size: 2rem;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 20px;
  color: #FFC300; /* Cambia el color del título principal */
}

.productos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.producto {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-width: 200px;
  text-align: center;
  transition: box-shadow 0.3s;
}

.producto img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.producto h3 {
  font-size: 1.2rem;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 10px;
  color: #FFC300; /* Cambia el color de los títulos de los productos */
}

.producto p {
  font-size: 1rem;
  color: #555;
}

.producto:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
